body,
p {
  margin: 0;
  padding: 0;
}

.hero-section {
  width: 320px;
  height: 534px;
  position: relative;
  border: 1px solid black;
}

img {
  position: absolute;
  top: 132px;
  left: 0px;
  width: 200px;
  height: 365.41px;
}

header {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 24px;
}

.header-container {
  padding: 60px 40px 0;
  display: flex;
  justify-content: end;
}

.here-section-message {
  width: 320px;
  height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.here-section-message p {
  padding: 64px 40.5px;
  width: 239px;
  height: 145px;
  margin: 0 auto;
}

.header-contents {
  text-align: right;
}

.scroll-wrapper {
  position: relative;
}

.scroll {
  position: absolute;
  top: 369px;
  left: 260px;
  transform: rotate(90deg);
  color: black;
}
