body,
p,
.header {
  margin: 0;
  padding: 0;
}

.practice-1 {
  width: 320px;
  border: 1px solid black;
  font-family: "Noto Sans JP";
  font-weight: 300;
}

.hero-section {
  height: 534px;
  position: relative;
}

.suzy_1 {
  position: absolute;
  top: 132px;
  left: 0px;
  width: 200px;
  height: 365.41px;
}

header {
  font-size: 24px;
}

.header-container {
  padding: 60px 40px 0;
  display: flex;
  justify-content: end;
}

.header-contents {
  text-align: right;
}

.scroll-wrapper {
  position: relative;
}

.scroll {
  position: absolute;
  top: 369px;
  left: 260px;
  transform: rotate(90deg);
  color: black;
}

.here-section-message p {
  padding: 64px 40.5px;
  text-align: center;
  font-size: 12px;
  line-height: 2.4;
}

.message-section {
  padding: 48px 14px;
}

.header {
  padding-bottom: 48px;
  line-height: normal;
}

.message-receive {
  font-size: 22.4px;
}

.receive-message {
  font-size: 16px;
}

.iphone-image {
  display: flex;
}

.description-1 {
  padding: 64px 0;
  font-size: 12px;
  position: relative;
  display: flex;
  justify-content: center;
}

.paragraph p {
  text-align: center;
}

.Rectangle-1 {
  position: absolute;
  right: -16px;
  bottom: 49px;
}

.iphone-image-2 {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.description-2 {
  padding: 64px 0;
  font-size: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  /* line-height: 24px; */
}

.patagraph-2 {
  line-height: 24px;
}

.Rectangle-2 {
  position: absolute;
  left: -14px;
  bottom: 49px;
}
