body,
p,
.header,
ul,
li,
a,
h1,
h2 {
  margin: 0;
  padding: 0;
}

.day3-container {
  width: 320px;
  max-width: 320px;
  margin: 0 auto;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.hero-section div {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-14deg);
  position: absolute;
  bottom: 79.449px;
  background-color: rgba(139, 234, 255, 0.79);
  padding: 10px;
}

.hero-section div h1 {
  color: #fff;
  font-size: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 64px 16px;
  align-items: center;
  gap: 16px;
}

.main-title {
  width: 100%;
}

.main-title h2 {
  font-size: 20px;
  text-align: center;
}

.main-title p {
  font-size: 12px;
  text-align: center;
}

.image-text-contents {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.image-text-contents img {
  height: 90px;
  width: 90px;
}

.image-text-contents p {
  font-size: 12px;
  line-height: 21.6px;
}

/* practice-1 */
.hero-section {
  position: relative;
  height: 534px;
  background-image: url("./images/hero-section.png");
}

/* practice-2 */
.reason-title h2 {
  text-align: left;
}

/* practice-3 */
.intro-title h2 {
  text-align: right;
}

/* practice-4 */
.garaly-section {
  background-image: url("./images/div_garaly-section.png");
}

.garaly-section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.garaly-section ul li img {
  height: 196px;
}

.garaly-section ul li p {
  font-size: 10px;
  text-align: right;
}

/* practice-5 */
.goods-images {
  display: flex;
  justify-content: space-between;
  row-gap: 16px;
  flex-wrap: wrap;
}

/* practice-6 */
.footer-title {
  display: inline-block;
  padding-bottom: 48px;
}

.footer-small {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
