body,
p,
.header,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.main-section {
  padding: 0 16px 64px 16px;
}

header {
  padding: 0 16px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

.header p {
  color: #623f20;
  font-size: 16px;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  background-color: #623f20;
  text-decoration: none;
  border-radius: 25px;
  height: 16px;
}

span {
  font-size: 8px;
  color: white;
}

.header-body {
  font-size: 54px;
}

.p1,
.p3 {
  text-align: right;
}

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-image: url(images/div_hero.png);
  display: flex;
  position: relative;
  height: 464px;
  width: 288px;
}

.hero-button {
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 0 10px;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  left: 50%;
  transform: translate(-50px, 0px);
  bottom: 12px;
}

.hero-button button {
  background: none;
  border: none;
  outline: none;
  font-size: 8px;
}

.hero-button p {
  font-size: 8px;
}

.hero-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 12px 0px;
}

.hero-button-container a {
  text-decoration: none;
  font-size: 8px;
}

.a1 {
  border-radius: 50px;
  border: 0.5px solid var(--Schemes-On-Tertiary-Fixed-Variant, #623f20);
  padding: 3px 10px;
}

.section-view-all-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px 0;
}

.view-header h2 {
  font-size: 54px;
  text-align: center;
  line-height: 90%;
}

.work-category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.work-category img {
  width: 16px;
  height: 16px;
}

.work-category p {
  font-size: 12px;
}

.view-button {
  border: 0.5px solid #623f20;
  border-radius: 50px;
}

.view-button a {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  padding: 4px 8px;
  text-align: center;
}

.section-img img {
  height: 275px;
  width: 100%;
}

.main-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-tag-list {
  font-size: 12px;
}

.body-kigou {
  font-size: 64px;
}

.main-tag-list ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.main-tag-list ul li a {
  text-decoration: none;
}
.section-for-clients {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.main-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 4px;
}

.main-header-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-header img {
  height: 16px;
  width: 16px;
}

.main-header-text {
  font-size: 12px;
}

.frame-1 {
  padding: 12px;
}

.frame-1 p {
  font-size: 8px;
}

.clients-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clients-ul li {
  display: flex;
  gap: 4px;
  padding: 6px 0;
  justify-content: center;
  align-items: center;
  border-bottom: 0.75px solid #623f20;
  width: 100%;
}

.clients-ul li a {
  display: flex;
  gap: 4px;
}

.clients-ul li p {
  font-size: 20px;
}

.business-tag-list {
  padding-bottom: 8px;
}

.section-service {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.service-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0 16px;
}

.service-body h2 {
  font-size: 28px;
}

.service-body p {
  font-size: 14px;
}

.service-body a {
  display: inline-block;
  padding: 2px 16px;
  border: 1px solid #623f20;
  border-radius: 25px;
}

.section-our-culture {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 338px;
  position: relative;
}

.bottom-image {
  width: 100%;
  height: 256px;
}

.top-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 1;
  width: 100px;
}

.culture-body p {
  font-size: 14px;
}

.section-our-culture a {
  padding: 2px 16px;
  display: inline-block;
  border: 1px solid #623f20;
  border-radius: 25px;
}

.section-work-with-us {
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
}

.section-work-with-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 16px;
  gap: 24px;
  background: #623f20;
  color: #fff;
}

.section-work-with-us-container-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-2 {
  font-size: 32px;
}

.section-work-with-us-container-image1 {
  width: 100px;
  height: 143px;
}

.section-work-with-us-container-image2 {
  height: 256px;
}

.work-with-us-body p {
  font-size: 14px;
}

.section-work-with-us-container a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 2px 16px;
  display: inline-block;
  font-size: 14px;
}

footer {
  padding: 0px 16px 64px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer li {
  font-size: 14px;
}

.main-link {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
