body,
h2,
p {
  margin: 0;
  padding: 0;
}

.twitter-post-card-1 {
  padding: 0 8px;
  width: 320px;
  height: 95px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.avatar {
  width: 48px;
  height: 48px;
}

.tweet-contents {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-wrapper {
  display: flex;
  align-items: end;
  gap: 4px;
}

.name-wrapper h2 {
  font-size: 12px;
}

.name-wrapper p {
  font-size: 10px;
}

.text {
  font-size: 12px;
}
